.comment {
    border: 1px solid #eeeeee;
    margin-top: 1rem;
    display: flex;
}
.comment-control {
    border: 0;
    background-color: #fafafa;
    width: 100%;
    padding: 10px;
    flex-grow: 1;
    outline: 0;
    font-size: 1rem;
}
.comment-submit {
    border: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    outline: 0;
    cursor: pointer;
}