
.modal {
    z-index: 100;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .modal-body {
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
  .modal-dialog {
    position: fixed;
    margin: auto;
    padding: 1rem;
    background-color: #fff;
    width: 90%;
    top: 30%;
    left: 5%;
  }
  .modal-footer {
    border-top: 1px solid #eee;
    padding: 10px 10px 0 10px;
  }
  @media (min-width: 768px) {
    .modal-dialog {
      left: 35%;
      width: 30%;
    }
  }