figure {
    margin: 0;
}
figure img {
    max-width: 100%;
}
.post {
    padding: 1rem;
    background-color: #ffffff;
    margin-bottom: 10px;
}
.post-action {
    padding: 1rem 0;
}
.post-user {
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
}
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}